.env
*.pyc
__pycache__
uploads/
venv/
.venv/
*.log
*.tmp
.DS_Store  # Arquivos do macOS
Thumbs.db   # Arquivos do Windows
node_modules/ # Para projetos JavaScript
__pycache__/
*.swp       # Arquivos de swap do Vim
.idea/      # Arquivos do IntelliJ IDEA
.vscode/     # Arquivos do VS Code